@import url('https://fonts.googleapis.com/css2?family=Neuton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
}

#parent {
  width: 1200px;
  background-color: white;
}
.container {
  width: 700px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.about{
    max-width: 1100px;
    margin: 0 auto;
}

/* .user-div {
    width: 300px;
} */

.logo {
    display: flex;
}

.logo a {
    text-decoration: none;
}

.logo h1 {
  font-family: Neuton;
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 81px;
}

#bio {
  display: flex;
  justify-content: space-between;
}

.left {
  width: 600px;
}
.left h1 {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 60px;
  text-transform: lowercase;
}
.left p {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.right {
  width: auto;
}

.user-dets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#user-name h1 {
  font-size: 3rem;
  margin: 0;
  font-family: Neuton;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 61px;
  text-transform: lowercase;
}

#user-title {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 22px;
  margin: 0;
}
.user-pic {
  border-radius: 50%;
}

.next-page-icon {
  width: 50px;
}

footer h2 {
  font-family: Neuton;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
}

footer {
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
}
